
<div class="jumbotron">
  <div align="center">
  <h1><%= image_tag "download.png",link_to: "/", width: "100px",height: "100px",float: "none",margin: "0"%>
  Welcome to E-Services of Govt. of Tamil Nadu </h1>
<p>Find me in app/views/welcome/index.html.erb</p>
</div>
</div>
