<h1>Submissions</h1>

<div class="container">
  <table class="table">
    <% @user.each do |x|%>
    <tbody>
      <tr>
        <th scope="row"><%=x.fname%></th>
        <td><%= link_to "View Profile", administrator_user_path(x)%></td>
      </tr>
    </tbody>
    <%end%>
  </table>

  <%= link_to "Log Out", root_path%>


</div>
